<div class="modal fade" id="editwikiarticle" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-white bg-primary">
        <h5 class="modal-title" id="exampleModalLongTitle">Editing article</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"> </button>
      </div>
      
      <form action="{{ path_for('updatewikiarticle') }}" method="post" autocomplete="off">
      <div class="modal-body">
        
        <div class="form-group simple-mde">
            <textarea rows="3" class="form-control textarea" name="wikitext" id="wikitext" >{{data.wikitext}}</textarea>
        </div>

        <script>
            var simplemde = new SimpleMDE({
                element: document.getElementById("wikitext"),
                forceSync: true,
                autofocus: true,
                showIcons: ["code", "table"],
                spellChecker: false
            });
        </script>

        <input type="hidden" name="wikiarticleid" value="{{data.wikiarticleid}}" />
        <input type="hidden" name="wikimenuslug" value="{{data.wikimenuslug}}" />
      
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
      </form>
    </div>
  </div>
</div>