<h2 class="mt-0 mb-4">Welcome to {{projectname}} project documentation!</h2>
<p>This page has been created automatically. In order to create first template use the button right to add the document.</p>