<h2 class="mt-0 mb-4">Adding new article</h2>
<p>You see this page because article for this section has not been created yet. Use button below to create new article.</p>
<button type="button" data-toggle="modal" data-target="#addwikiarticle" class="btn btn-primary btn-block">Create new Article</button> 
{% include 'wiki/modals/addarticle.twig'%}