<div class="modal fade" id="addComment" tabindex="-1" data-keyboard="false" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-white bg-primary">
                <h5 class="modal-title" id="exampleModalLongTitle">New Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> </button>
            </div>
            <form action="{{ path_for('addnewtaskcheklistcomment') }}" method="post" autocomplete="off">
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-12 simple-mde">
                            <div class="form-group">
                                <textarea rows="3" class="form-control textarea" name="commenttext"
                                    id="addCommentMde"></textarea>
                                
                                <script>
                                    var simplemde = new SimpleMDE({
                                        element: document.getElementById("addCommentMde"),
                                        forceSync: true,
                                        placeholder: "Type here...",
                                        showIcons: ["code", "table"],
                                        spellChecker: false
                                    });
                                </script>

                            </div>
                        </div>

                        <input type="hidden" name="taskid" value="{{taskid}}">
                        <input type="hidden" name="userid" value="{{userid}}">
                        <input type="hidden" name="checklistid" value="{{cheklistid}}">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add Comment</button>
                </div>
            </form>
        </div>
    </div>
</div>